@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<h2>Client Details</h2>
<hr />
<h4>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h4>
<h4>@Html.DisplayNameFor(model => model.Status): @Html.DisplayFor(model => model.Status)</h4>
<h4>@Html.DisplayNameFor(model => model.HireDate): @Model.HireDate.ToString("MM/dd/yyyy")
<h4>@Html.DisplayNameFor(model => model.TerminationDate): @Model.TerminationDate.ToString("MM/dd/yyyy")
<h4>@Html.DisplayNameFor(model => model.RehireDate): @Model.RehireDate.ToString("MM/dd/yyyy")
<h4>@Html.DisplayNameFor(model => model.Specialty): @Html.DisplayFor(model => model.Specialty)</h4>
<br>

@if (@Model.Appointments.Count == 0)
{
  <h5>No appointments have been booked for this stylist yet!</h5>
  <p>@Html.ActionLink("Book an appointment", "Create", "Appointments")</p>
}
else
{
  <h3>Appointments</h3>
  <ul>
    @foreach (Appointment appointment in Model.Appointments)
    {
      <li>@Html.ActionLink($"{appointment.DateTime}", "Details", "Appointments", new {id = appointment.AppointmentId})</li>
    }
  </ul>
}
<br>
<p>@Html.ActionLink("Edit Stylist", "Edit", null, new { id = Model.StylistId})</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", null, new { id = Model.StylistId})</p>
<p>@Html.ActionLink("Back to Stylist list", "Index")</p>