@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Edit Stylist</h2>

<h4>Edit details for: @Html.DisplayFor(model => model.Name)</h4>
<hr/>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)
<div class="wrapper">
  <div class="one-two">
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <br>
  @* @Html.LabelFor(model => model.Status)
  @Html.DropDownListFor(model => model.Status, new List<SelectListItem>() {
      new SelectListItem() { Text="Active", Value="ACTIVE"},
      new SelectListItem() { Text="Inactive", Value="INACTIVE"}
    }) *@
  <br>
  @Html.LabelFor(model => model.Specialty)
  @Html.DropDownList("SpecialtyId")
    </div>
    <div class="three">
      <h4>@Html.DisplayNameFor(model => model.HireDate):</h4>
      @Html.TextBox("HireDate", Model.HireDate?.ToString("yyyy-MM-dd"), new {type="date", min="1900-01-01"})
      
      <h4>@Html.DisplayNameFor(model => model.TerminationDate):</h4>
      @Html.TextBox("TerminationDate", Model.TerminationDate?.ToString("yyyy-MM-dd"), new {type="date", min="2022-01-01"})
      <h4>@Html.DisplayNameFor(model => model.RehireDate):</h4>
      @Html.TextBox("RehireDate", Model.RehireDate?.ToString("yyyy-MM-dd"), new {type="date", min="2022-01-01"})
    </div>
  </div>

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>