@{
  Layout = "_Layout";
}

@model HairSalon.Models.Appointment

<h3>Schedule New Appointment</h3>
<hr/>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Client, new {@class="dropdown-label", form="form1"})
  @Html.DropDownList("ClientId", null, "Select a Client", new {@class="dropdown", required="required"})
    <span id="client-stats"></span>
    <br>
    <img id="showaddnewclient" class="plus" src="~/assets/images/plus.png" alt="Show add new client">
    <img id="hideaddnewclient" class="plus hidden" src="~/assets/images/minus.png" alt="Hide add new client">

  

  <div id="select-service" class="hidden">
    <hr/>
    @Html.LabelFor(model => model.Specialty, new {@class="dropdown-label"})
    @Html.DropDownList("SpecialtyId", null, "Select a Service", new {@class="dropdown", required="required"})
    <br>
    <img id="showaddnewservice" class="plus" src="~/assets/images/plus.png" alt="Show add new service">
    <img id="hideaddnewservice" class="plus hidden" src="~/assets/images/minus.png" alt="Hide add new client">
  </div>


  <div id="select-stylist" class="hidden">
    <hr/>
    @Html.LabelFor(model => model.Stylist, new {@class="dropdown-label"})
    @Html.DropDownList("StylistId", null, "Select a Stylist", new {@class="dropdown", required="required"})
    <br>
    <img id="showaddnewstylist" class="plus" src="~/assets/images/plus.png" alt="Show add new stylist">
    <img id="hideaddnewstylist" class="plus hidden" src="~/assets/images/minus.png" alt="Hide add new stylist">

  </div>

  <div id="select-time" class="hidden">
    <hr/>
    <label for="dateTime">Date and time:</label>
    @Html.TextBoxFor(model => model.DateTime, new {type="datetime-local", step=60, required="required"})
    @Html.LabelFor(model => model.Notes)
    @Html.TextAreaFor(model => model.Notes, new {placeholder="optional"})
    <input type="submit" value="Book it!" class="btn btn-primary">
  </div>

}

<div id="new-client-form" class="hidden">
  <br>
  <h4>Add new client</h4>
  @using (Html.BeginForm("CreateFromAppt", "Clients", FormMethod.Post, new { @class = "text-form"}))
  {
    @Html.TextBox("Name", null, new {required="required", @class="text-input", placeholder="Client Name"})
    <span class="validity"></span>
    <br>
    @Html.TextBox("Phone", null, new {type="tel", pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}", required="required", @class="text-input", placeholder="Phone (xxx-xxx-xxxx)"})
    <span class="validity"></span>
    <br>
    @Html.TextBox("Email", null, new {type="email", required="required", @class="text-input", placeholder="email@example.com"})
    <span class="validity"></span>
    <br>
    <input type="submit" value="Save new client" class="btn btn-primary"/>
  }
</div>

<div id="new-service-form" class="hidden">
  @using (Html.BeginForm("CreateFromAppt", "Specialty", FormMethod.Post))
  {
    @Html.TextBox("Name", null, new {required="required", @class="text-input", placeholder="Service Name"})
    <span class="validity"></span>
    <br>
    <input type="submit" value="Save new service" class="btn btn-primary" />
  }
</div>

<div id="new-stylist-form" class="hidden">
  @using (Html.BeginForm("CreateFromAppt", "Stylist", FormMethod.Post))
  {
    @Html.TextBox("Name", null, new {required="required", @class="text-input", placeholder="Stylist Name"})
    <span class="validity"></span>
    <br>
    @Html.DropDownList("SpecialtyId", null, "Select a Specialty", new {@class="dropdown", required="required"})
    <br>
    <input type="submit" value="Save new stylist" class="btn btn-primary"/>
  }
</div>

<br>
<p>@Html.ActionLink("Show all Appointments", "Index")</p>

<script type="text/javascript" src="~/js/scripts.js"></script>